<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>standings</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        div.card{
            margin:2rem;
        }
    </style>
</head>
<body>
    <center>
        <h1>News / home</h1>
        <div id="phone">

            <div class="navbar">
                <img src="../images/logo.png" alt="Logo">
            </div>

            <div id="content">
                <h1>News</h1>

                <!--Cards-->

                  <!--End Cards-->

            </div>

            <div class="footer">
                <a href="./news.html" ><img src="../images/icons/homeButton.png" alt="home news"></a>
                <a href="./standings.html" ><img src="../images/icons/standingButton.png" alt="standings"></a>
                <a href="./matchs.html" ><img src="../images/icons/datesButton.png" alt="matchs"></a>
                <a href="./shop.html" ><img src="../images/icons/shopButton.png" alt="shop"></a>
            </div>
        </div>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Define the data for the cards
        const cardData = [
        { id:0, title: "Card1", content: "This is the content of card 1.",cover:"../images/covers/cover1.jpg" },
        { id:1, title: "Card2", content: "This is the content of card 2.",cover:"../images/covers/cover1.jpg" },
        { id:2, title: "Card3", content: "This is the content of card 3.",cover:"../images/covers/cover1.jpg" } 
        ];

        // Get the card container element
        const cardContainer = document.getElementById("content");

        // Loop through the card data and generate the cards dynamically
        for (let i = 0; i < cardData.length; i++) {
            // Create a new div element for each card
            const card = document.createElement("div");
            card.style.width="18rem"
            card.classList.add("card");

            const cardBody =document.createElement("div");
            cardBody.classList.add("card-body")


            // Set the title and content of the card
            const cover = document.createElement("img");
            cover.classList.add("card-img-top")
            cover.src = cardData[i].cover;

            const title = document.createElement("h5");
            title.textContent = cardData[i].title;
            const content = document.createElement("p");
            content.textContent = cardData[i].content;
            const button = document.createElement("a");
            button.href="mainNews.html#"+cardData[i].id;
            button.innerText="Read More"
            button.classList.add("btn","btn-secondary")
            
            // Append the title and content to the card
            card.appendChild(cover);
            card.appendChild(cardBody);
            cardBody.appendChild(title);
            cardBody.appendChild(content);
            cardBody.appendChild(button);

            // Append the card to the card container
            cardContainer.appendChild(card);
        }
    });
    </script>
</body>
</html>